.root{
  position: relative;
}
.Img-flame {
  width: 35px;
  aspect-ratio: 1/1;

}
.yellow-color{
  color:#FF611D;
  font-weight: 500;
  font-size: 1.1em;
}
.Img-freezed {
  width: 40px;
  aspect-ratio: 1/1;
}

.icons-block {
  display: flex;
  gap: 40px;
  align-items: center;
}

.input-box {
  display: flex;

  gap: 10px;
  margin-bottom: 30px;
}

.Tasks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}

.Display {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.288);
  border-radius: 10px;

  width: 100%;
  position: relative;
  overflow-y: scroll;

  padding: 30px;
}

.p-block {
  max-width: 500px;
  font-weight: 900;
  width: 300px;
  max-height: min-content;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;

}

.para-block {
  width: 100%;
  min-width: 321.5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.288);
  border-radius: 10px;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  flex-grow: 1;
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 5px;
  overflow-y: hidden;
  height: 93vh;
}

.item-container>* {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* State 1: A is maximized (Default) */
.a-is-max .Display {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.a-is-max .para-block {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.a-is-max .calender {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

/* State 2: B is maximized */
.b-is-max .para-block {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  zoom: 100%
}

.b-is-max .Display {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  zoom: 50%;
  
}

.b-is-max .calender {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.calender {
  padding-top: 20px;
  width: 100%;
  min-width: 321.5px;

  zoom: 80%;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.288);
}

.yello {
  zoom: 90%;
}

#root{
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}

.AI_alert{
position: absolute;
    bottom: 180px; /* Aligns the bottom edge of the div with the bottom edge of the parent */
    left: 0;   /* Optional: aligns the left edge */
    right: 0;  /* Optional: stretches the div full width */
    /* height: max-content; Example height */
    padding-left: 80px;
    max-width: 500px;
    min-width: 20px;
    height: max-content;           /* Default, but good to be explicit */
    max-height: 250px;      /* Stops it from overflowing the parent entirely */
    overflow-y: auto;       /* Adds scrollbar if content exceeds max-height */

}